<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

	<display-name>sample-jee7</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>MetricsServlet</servlet-name>
		<servlet-class>io.prometheus.client.exporter.MetricsServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MetricsServlet</servlet-name>
		<url-pattern>/metrics/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>prometheusFilter</filter-name>
		<filter-class>io.prometheus.client.filter.MetricsFilter</filter-class>
		<init-param>
			<param-name>metric-name</param-name>
			<param-value>webapp_metrics_filter</param-value>
		</init-param>
		<init-param>
			<param-name>help</param-name>
			<param-value>The time taken fulfilling servlet requests</param-value>
		</init-param>
		<init-param>
			<param-name>buckets</param-name>
			<param-value>0.005,0.01,0.025,0.05,0.075,0.1,0.25,0.5,0.75,1,2.5,5,7.5,10</param-value>
		</init-param>
		<init-param>
			<param-name>path-components</param-name>
			<param-value>0</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
	   <filter-name>prometheusFilter</filter-name>
	   <url-pattern>/api/*</url-pattern>
	</filter-mapping>
</web-app>